<div class="card card-border bg-base-100 w-full">
  <div class="card-body p-2">
    <h2 class="card-title">Up Next</h2>
    <div class="grid grid-cols-3 gap-2">
      @for (scheduleEvent of scheduleEvents; track $index) {
      <div
        class="card bg-base-300 card-sm shadow-sm"
        [ngClass]="{ 'opacity-20': checkEventStatus(scheduleEvent) }"
      >
        <div class="card-body">
          <h2 class="card-title">
            <img
              class="size-6"
              [src]="
                '/country-flags/' +
                scheduleEvent.location.toLowerCase().slice(0, 3) +
                '.svg'
              "
              [alt]="scheduleEvent.location"
            />
            {{ scheduleEvent.event }}
          </h2>

          <div class="grid grid-cols-3 items-start gap-4">
            @for (event of scheduleEvent.eventDays; track $index) {
            <div class="flex flex-col gap-2">
              <span class="font-semibold text-lg">{{
                parseEventDate(event.date)
              }}</span>
              @for (session of event.events; track $index) {
              <div class="flex flex-col gap-1">
                <span class="font-semibold">{{ session.type }}</span>
                <span class="font-light">
                  {{ parseSessionDate(session.start) }} -
                  {{ parseSessionDate(session.end) }}
                </span>
              </div>
              }
            </div>
            }
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
