<div class="card bg-base-300 w-full shadow-sm h-[17.5rem]">
  <div class="card-body p-2 overflow-y-scroll">
    <ul class="list p-0">
      <li class="text-xs opacity-60 tracking-wide">TEAM RADIOS</li>

      @for (radio of radios; track $index) {
      <li class="list-row p-2">
        <div class="grid grid-cols-10">
          <span class="col-span-2">{{ formatDate(radio.Utc) }}</span>

          <span
            class="col-span-2"
            [ngStyle]="{ color: '#' + drivers[radio.RacingNumber].TeamColour }"
          >
            {{ radio.RacingNumber }} {{ drivers[radio.RacingNumber].Tla }}
          </span>

          <app-audio-player [path]="radio.Path" class="col-span-6" />
        </div>
      </li>
      }
    </ul>
  </div>
</div>
