<div class="card bg-base-300 w-full shadow-sm">
  <div class="card-body !gap-4 p-0">
    <div class="flex">
      <!-- style="grid-template-columns: 1fr" -->
      @if (!isMobile$()) { @defer {
      <div class="grid grid-cols-[50%_50%] w-full">
        <div>
          <div
            class="grid grid-cols-[5em_6.5em_7em_5em_5em_auto] md:grid-cols-[5em_6.5em_14em_7em_5em_5em_auto] border-b border-base-100 p-2 text-center"
          >
            <p class="font-semibold">DRIVER</p>
            <p class="font-semibold">DRS</p>
            <p class="font-semibold">TELEMETRY</p>
            <p class="font-semibold">TIME</p>
            <p class="font-semibold">GAP</p>
            <p class="font-semibold">TYRE</p>
            <!-- <p class="font-semibold">INFO</p> -->
            <p class="font-semibold">SECTORS</p>
          </div>

          @for (line of first10Lines; track $index) {
          <app-driver [racingNumber]="line[0]" [line]="line[1]" />
          }
        </div>

        <div>
          <div
            class="grid grid-cols-[5em_6.5em_14em_7em_5em_5em_auto] md:grid-cols-[5em_6.5em_14em_7em_5em_5em_auto] border-b border-base-100 p-2"
          >
            <p class="font-semibold">DRIVER</p>
            <p class="font-semibold">DRS</p>
            <p class="font-semibold">TELEMETRY</p>
            <p class="font-semibold">TIME</p>
            <p class="font-semibold">GAP</p>
            <p class="font-semibold">TYRE</p>
            <!-- <p class="font-semibold">INFO</p> -->
            <p class="font-semibold">SECTORS</p>
          </div>

          @for (line of last10Lines; track $index) {
          <app-driver [racingNumber]="line[0]" [line]="line[1]" />
          }
        </div>
      </div>
      } } @else {
      <div class="grid grid-cols-1 w-full">
        <div>
          <div
            class="grid grid-cols-[4em_4em_5em_5em_6em_auto] md:grid-cols-[6em_6em_8em_8em_8em_auto] border-b border-base-100 p-2 text-center"
          >
            <p class="font-semibold">DRIVER</p>
            <p class="font-semibold">DRS</p>
            <p class="font-semibold">TIME</p>
            <p class="font-semibold">GAP</p>
            <p class="font-semibold">TYRE</p>
            <p class="font-semibold">SECTORS</p>
          </div>

          @for (line of timmingData; track $index) {
          <app-driver [racingNumber]="line[0]" [line]="line[1]" />
          }
        </div>
      </div>
      }
    </div>
  </div>
</div>
