<div class="card bg-base-300 w-full shadow-sm">
  <div class="card-body !gap-4 p-0">
    <div class="flex">
      <!-- style="grid-template-columns: 1fr" -->
      <div class="grid grid-cols-[50%_50%] w-full">
        <div>
          <div
            class="grid grid-cols-[4em_10em_10em_4em_12em_12em_4em_4em_auto] md:grid-cols-[5em_6.5em_8em_4em_7em_5em_5em_5em_auto] border-b border-base-100 p-2"
          >
            <p class="font-semibold">DRIVER</p>
            <p class="font-semibold">DRS</p>
            <p class="font-semibold">GEAR/RPM</p>
            <p class="font-semibold">SPD/PDL</p>
            <p class="font-semibold">TIME</p>
            <p class="font-semibold">GAP</p>
            <p class="font-semibold">TYRE</p>
            <p class="font-semibold">INFO</p>
            <p class="font-semibold">SECTORS</p>
          </div>

          @for (line of first10Lines; track $index) {
          <app-driver [racingNumber]="line[0]" [line]="line[1]" />
          }
        </div>

        <div>
          <div
            class="grid grid-cols-[5em_6.5em_8em_4em_7em_5em_5em_5em_auto] md:grid-cols-[5em_6.5em_8em_4em_7em_5em_5em_5em_auto] border-b border-base-100 p-2"
          >
            <p class="font-semibold">DRIVER</p>
            <p class="font-semibold">DRS</p>
            <p class="font-semibold">GEAR/RPM</p>
            <p class="font-semibold">SPD/PDL</p>
            <p class="font-semibold">TIME</p>
            <p class="font-semibold">GAP</p>
            <p class="font-semibold">TYRE</p>
            <p class="font-semibold">INFO</p>
            <p class="font-semibold">SECTORS</p>
          </div>

          @for (line of last10Lines; track $index) {
          <app-driver [racingNumber]="line[0]" [line]="line[1]" />
          }
        </div>
      </div>
    </div>
  </div>
</div>
