<svg:g [attr.opacity]="onTrack ? 1 : 0.5">
  <circle
    [attr.cx]="rx"
    [attr.cy]="ry"
    [attr.r]="stroke * (onTrack ? 1.25 : 0.75)"
    [attr.fill]="`#${driver!.TeamColour}`"
    [attr.stroke-width]="fontSize / 10"
    [ngStyle]="{ transition: '1s linear' }"
    class="stroke-base-content"
  />
  <text
    [attr.x]="0"
    [attr.y]="0"
    [attr.fill]="`#${driver!.TeamColour}`"
    [attr.font-size]="fontSize"
    fontWeight="bold"
    stroke="var(--colour-bg)"
    [attr.stroke-width]="fontSize / 20"
    [attr.transition]="'1s linear'"
  >
    <!-- [attr.transform]="`translate(${rx + stroke * 1.5}px, ${ry + stroke}px)`" -->
    {{ driver?.Tla }}
    {{ driver!.TeamColour }}
  </text>
</svg:g>
