<div
  class="grid grid-cols-[5em_6.5em_8em_4em_7em_5em_5em_5em_auto] md:grid-cols-[5em_6.5em_8em_4em_7em_5em_5em_5em_auto] items-center border-b border-base-100 p-1"
  [ngClass]="{
    'opacity-65': line.Retired || line.Stopped
  }"
>
  <!-- POSITION -->
  <!-- <span>
    <span
      title="Position"
      [ngClass]="
        timingStats.PersonalBestLapTime.Position === 1
          ? '!text-accent'
          : '!text-base-content'
      "
    >
      P{{ line.Position }}
    </span>
    <br />
    @if (!checkGridPos) {
    <span
      title="Position change"
      [ngClass]="parsePosChangeColour(line.Position, timingAppData.GridPos)"
    >
      @if (+timingAppData.GridPos >= +line.Position) { + }
      {{ +timingAppData.GridPos - +line.Position }}
    </span>
    }
  </span> -->

  <!-- DRIVER -->
  <span>
    <app-driver-tag
      [teamColor]="driver.TeamColour"
      [short]="driver.Tla"
      [position]="line.Position"
    />
    <br />
    <span title="Status">
      {{
        line.KnockedOut
          ? "OUT"
          : line.Retired
          ? "RETIRED"
          : line.Stopped
          ? "STOPPED"
          : line.InPit
          ? "PIT"
          : line.PitOut
          ? "PIT OUT"
          : null
      }}
    </span>
  </span>

  <!-- DRS -->
  <app-driver-drs
    [on]="carData ? hasDRS(carData[45]) : false"
    [possible]="carData ? possibleDRS(carData[45]) : false"
    [inPit]="timmingData.InPit"
    [pitOut]="timmingData.PitOut"
  />

  <!-- RPM -->
  <app-driver-rpm
    [value]="(carData['0'] / 15000) * 100"
    [gear]="carData['3']"
    [rpms]="carData['0']"
  />

  <!-- SPEED -->
  <span>
    <span title="Gear">{{ carData["2"].toString() }} km/h</span>
    <br />
    <progress
      class="progress progress-success w-10/12"
      [value]="throttlePercent"
      max="100"
    ></progress>
    <progress
      class="progress progress-error w-10/12"
      [value]="brakePercent"
      max="100"
    ></progress>
  </span>

  <!-- TIME -->
  <span>
    <span title="Last lap">
      Lst
      <span
        [ngClass]="
          line.LastLapTime.Value && line.LastLapTime.OverallFastest
            ? 'text-accent'
            : line.LastLapTime.Value && line.LastLapTime.PersonalFastest
            ? 'text-success'
            : 'text-base-content'
        "
      >
        {{ line.LastLapTime.Value || "—" }}
      </span>
    </span>
    <br />
    <span title="Best lap">
      Bst
      <span
        [ngClass]="
          line.BestLapTime.Value &&
          (line.BestLapTime.OverallFastest ||
            timingStats.PersonalBestLapTime.Position === 1)
            ? 'text-accent'
            : 'text-base-content'
        "
      >
        {{ line.BestLapTime.Value || "—" }}
      </span>
    </span>
  </span>

  <!-- GAP -->
  <span>
    <span
      [title]="
        'Gap to car ahead' + line.IntervalToPositionAhead.Catching
          ? ' (catching)'
          : ''
      "
    >
      Int
      <span
        [ngClass]="
          line.IntervalToPositionAhead.Catching
            ? 'text-success'
            : 'text-base-content'
        "
      >
        @if (lineStats.length) {
        {{
          line.IntervalToPositionAhead.Value ||
            lineStats[lineStats.length - 1].TimeDifftoPositionAhead ||
            "-"
        }}
        } @else { - }
      </span>
    </span>
    <br />
    <span title="Gap to leader">
      Ldr @if (lineStats.length) {
      {{
        line.GapToLeader || lineStats[lineStats.length - 1].TimeDiffToFastest
      }}
      } @else { - }
    </span>
  </span>

  <!-- TYRES -->
  <span>
    <span title="Tyre compound" class="flex items-center">
      Cmp
      <span class="ml-1" [ngClass]="parseTyreColour(currentStint.Compound)">
        {{ currentStint.Compound[0] || "—" }}
      </span>
    </span>
    <span
      [title]="'Tyre age' + currentStint.New === 'false' ? ' (not fresh)' : ''"
    >
      Age {{ currentStint.TotalLaps }}
      @if (currentStint.New === "false") { * }
    </span>
  </span>

  <!-- INFO -->
  <span>
    <span title="Completed laps">Lap {{ line.NumberOfLaps || "—" }}</span>
    <br />
    <span title="Pit stops">Stp {{ line.NumberOfPitStops || "—" }}</span>
  </span>

  <!-- SECTORS -->
  <span class="flex items-center gap-2">
    @for (sector of sectors; track $index) {
    <span [title]="'Sector' + $index + 1">
      <div class="flex flex-col">
        <div class="flex items-center">
          @for (segment of parseSectorSegment(sector); track $index) {
          <span
            class="w-0.5 h-3 mr-1 block"
            [ngClass]="parseSegmentColour(segment.Status)"
          >
          </span>
          }
        </div>
        @if (sector.Value) {
        <span
          class="mt-2 inline-block"
          [ngClass]="
            sector.OverallFastest
              ? 'text-accent'
              : sector.PersonalFastest
              ? 'text-success'
              : 'text-warning'
          "
        >
          {{ sector.Value }}
        </span>
        }
      </div>
    </span>
    }
  </span>
</div>
