<div
  class="grid grid-cols-[5em_6.5em_8em_7em_5em_5em_auto] md:grid-cols-[5em_6.5em_14em_7em_5em_5em_auto] items-center border-b border-base-100 p-1"
  [ngClass]="{
    'opacity-65': line.Retired || line.Stopped
  }"
>
  <!-- DRIVER -->
  <app-driver-tag
    [teamColor]="driver.TeamColour"
    [short]="driver.Tla"
    [position]="line.Position"
  />

  <!-- DRS -->
  <app-driver-drs
    [on]="carData ? hasDRS(carData[45]) : false"
    [possible]="carData ? possibleDRS(carData[45]) : false"
    [inPit]="timmingData.InPit"
    [pitOut]="timmingData.PitOut"
    [knocketOut]="line.KnockedOut"
    [stopped]="line.Stopped"
    [retired]="line.Retired"
    [checkGridPos]="checkGridPos"
    [position]="+line.Position"
    [gridPosition]="+timingAppData.GridPos"
  />

  <!-- RPM -->
  <app-driver-rpm
    [value]="(carData['0'] / 15000) * 100"
    [gear]="carData['3']"
    [rpms]="carData['0']"
    [speed]="carData['2']"
    [throttlePercent]="throttlePercent"
    [brakePercent]="brakePercent"
  />

  <!-- TIME -->
  <div class="flex flex-col">
    <div title="Last lap">
      <span class="font-semibold">Lst</span>
      <span
        [ngClass]="
          line.LastLapTime.Value && line.LastLapTime.OverallFastest
            ? 'text-accent'
            : line.LastLapTime.Value && line.LastLapTime.PersonalFastest
            ? 'text-success'
            : 'text-base-content'
        "
      >
        {{ line.LastLapTime.Value || "—" }}
      </span>
    </div>

    <div title="Best lap">
      <span class="font-semibold">Bst</span>
      <span
        [ngClass]="
          line.BestLapTime.Value &&
          (line.BestLapTime.OverallFastest ||
            timingStats.PersonalBestLapTime.Position === 1)
            ? 'text-accent'
            : 'text-base-content'
        "
      >
        {{ line.BestLapTime.Value || "—" }}
      </span>
    </div>
  </div>

  <!-- GAP -->
  <div class="flex flex-col">
    <div
      [title]="
        'Gap to car ahead' + line.IntervalToPositionAhead.Catching
          ? ' (catching)'
          : ''
      "
    >
      <span class="font-semibold">Int</span>
      <span
        [ngClass]="
          line.IntervalToPositionAhead.Catching
            ? 'text-success'
            : 'text-base-content'
        "
      >
        @if (lineStats.length) {
        {{
          line.IntervalToPositionAhead.Value ||
            lineStats[lineStats.length - 1].TimeDifftoPositionAhead ||
            "-"
        }}
        } @else { - }
      </span>
    </div>

    <span title="Gap to leader">
      <span class="font-semibold">Ldr</span>
      @if (lineStats.length) {
      {{
        line.GapToLeader || lineStats[lineStats.length - 1].TimeDiffToFastest
      }}
      } @else { - }
    </span>
  </div>

  <!-- TIRE -->
  <app-driver-tire [stints]="stints" />

  <!-- INFO -->
  <!-- <span>
    <span title="Completed laps">Lap {{ line.NumberOfLaps || "—" }}</span>
    <br />
    <span title="Pit stops">Stp {{ line.NumberOfPitStops || "—" }}</span>
  </span> -->

  <!-- SECTORS -->
  <span class="flex items-center gap-2">
    @for (sector of sectors; track $index) {
    <span [title]="'Sector' + $index + 1">
      <div class="flex flex-col">
        <div class="flex items-center">
          @for (segment of parseSectorSegment(sector); track $index) {
          <span
            class="w-0.5 h-3 mr-1 block"
            [ngClass]="parseSegmentColour(segment.Status)"
          >
          </span>
          }
        </div>
        @if (sector.Value) {
        <span
          class="mt-2 inline-block"
          [ngClass]="
            sector.OverallFastest
              ? 'text-accent'
              : sector.PersonalFastest
              ? 'text-success'
              : 'text-warning'
          "
        >
          {{ sector.Value }}
        </span>
        }
      </div>
    </span>
    }
  </span>
</div>
