<div class="flex items-center justify-center w-full">
  <div
    class="flex items-center justify-between gap-0.5 rounded-lg bg-zinc-600 px-1 py-1 font-black w-18"
    [style]="{ backgroundColor: '#' + teamColor }"
  >
    @if (position) {
    <p class="px-1 text-xl leading-none">{{ position }}</p>
    }

    <div
      class="flex h-min w-min items-center justify-center rounded-md bg-white px-1"
    >
      <p class="font-mono text-zinc-600" [style]="{ color: '#' + teamColor }">
        {{ short }}
      </p>
    </div>
  </div>
</div>
