<div class="flex items-center gap-2">
  <div class="relative size-16">
    <svg
      class="rotate-[135deg] size-full"
      viewBox="0 0 36 36"
      xmlns="http://www.w3.org/2000/svg"
    >
      <!-- Background Circle (Gauge) -->
      <circle
        cx="18"
        cy="18"
        r="16"
        fill="none"
        class="stroke-current text-base-content/30"
        stroke-width="4"
        stroke-dasharray="75 100"
      ></circle>

      <!-- Gauge Progress -->
      <circle
        cx="18"
        cy="18"
        r="16"
        fill="none"
        class="stroke-current text-info"
        stroke-width="4"
        [attr.stroke-dasharray]="(75 / 100) * value + ' 100'"
      ></circle>
    </svg>

    <!-- Value Text -->
    <div
      class="absolute top-2/3 start-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center !p-1"
    >
      <div class="flex flex-col items-center !p-1">
        <span class="font-semibold text-lg">{{ gear }}</span>
        <span class="text-sm">{{ rpms }}</span>
      </div>
    </div>
  </div>

  <div class="flex flex-col w-full">
    <span class="font-semibold">{{ speed.toString() }} KM/H</span>
    <progress
      class="progress progress-success w-8/12"
      [value]="throttlePercent"
      max="100"
    ></progress>
    <progress
      class="progress progress-error w-8/12 mt-1"
      [value]="brakePercent"
      max="100"
    ></progress>
  </div>
</div>
