<div class="card bg-base-300 w-full shadow-sm h-[17.5rem]">
  <div class="card-body p-2">
    @defer (when !loading()) {
    <svg
      [attr.viewBox]="`${bounds()![0]} ${bounds()![1]} ${bounds()![2]} ${bounds()![3]}`"
      class="w-full h-72"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        class="stroke-base-content"
        [attr.stroke-width]="300"
        strokeLinejoin="round"
        fill="transparent"
        [attr.d]="`M${points()![0].x},${points()![0].y} ${parsedPoints}`"
      />

      @for (sector of renderedSectors; track $index) {
      <path
        [class]="sector.color"
        [attr.stroke-width]="sector.strokeWidth"
        strokeLinecap="round"
        strokeLinejoin="round"
        fill="transparent"
        [attr.d]="sector.d"
        [ngStyle]="{ animationDuration: sector.pulse + 's' }"
      />
      } @for (corner of corners(); track $index) {
      <text
        [attr.x]="corner.labelPos.x"
        [attr.y]="corner.labelPos.y"
        class="fill-base-content"
        [attr.font-size]="300"
        fontWeight="semibold"
      >
        {{ corner.number }}
      </text>
      } @if (positionEntries['241']) {
      <g
        class="fill-zinc-700"
        [ngClass]="{ 'opacity-30': false, hidden: false }"
        [attr.transition]="'all 1s linear'"
        [attr.fill]="'#' + undefined"
        [attr.transform]="
          transform(
            positionEntries['241'],
            rotation(),
            centers()[0] || 0,
            centers()[1] || 0
          )
        "
      >
        <circle [attr.r]="120" />
        <text
          fontWeight="bold"
          [attr.font-size]="120 * 3"
          [attr.transform]="'translateX(150px) translateY(-120px)'"
        >
          Safety Car
        </text>

        <!-- {favoriteDriver && ( <circle id={`map.driver.favorite`}
        className="stroke-sky-400" r={180} fill="transparent" strokeWidth={40}
        style={{ transition: "all 1s linear" }}
        /> )} -->
      </g>
      } @for (driver of entries; track $index) {
      <g
        [ngClass]="{
          'opacity-30': driverInPit(driver),
          hidden: driverHidden(driver)
        }"
        [attr.transition]="'all 1s linear'"
        [attr.fill]="'#' + driver.TeamColour"
        [style]="{
          transform: transform(
            positionEntries[driver.RacingNumber],
            rotation(),
            centers()[0] || 0,
            centers()[1] || 0
          )
        }"
      >
        <circle [attr.r]="120" />
        <text
          fontWeight="bold"
          [attr.font-size]="120 * 3"
          [style]="{ transform: 'translateX(150px) translateY(-120px)' }"
        >
          {{ driver.Tla }}
        </text>

        <!-- {favoriteDriver && (
				<circle
					id={`map.driver.favorite`}
					className="stroke-sky-400"
					r={180}
					fill="transparent"
					strokeWidth={40}
					style={{ transition: "all 1s linear" }}
				/>
			)} -->
      </g>
      }
    </svg>
    }
  </div>
</div>
