<svg
  xmlns="http://www.w3.org/2000/svg"
  width="50"
  height="50"
  view-box="0 0 50 50"
  fill="none"
  class="absolute"
>
  <defs>
    <linearGradient id="temperature">
      <stop offset="0%" [attr.stop-color]="'#BFDC30'" />
      <stop offset="10%" [attr.stop-color]="'#B3FE00'" />
      <stop offset="30%" [attr.stop-color]="'#FFE620'" />
      <stop offset="60%" [attr.stop-color]="'#FF9500'" />
      <stop offset="90%" [attr.stop-color]="'#FA114F'" />
    </linearGradient>

    <linearGradient id="humidity">
      <stop offset="0%" [attr.stop-color]="'#01DF6E'" />
      <stop offset="10%" [attr.stop-color]="'#55CAF1'" />
      <stop offset="30%" [attr.stop-color]="'#4EBCFA'" />
      <stop offset="60%" [attr.stop-color]="'#36A6F9'" />
      <stop offset="90%" [attr.stop-color]="'#5855D6'" />
    </linearGradient>
  </defs>

  <path
    [attr.d]="
      describeArc(
        size / 2,
        size / 2,
        size / 2 - strokeWidth / 2,
        startAngle,
        endAngle
      )
    "
    [attr.stroke-width]="strokeWidth"
    [attr.stroke]="`url(#${gradient})`"
    [attr.stroke-linecap]="'round'"
  />

  <circle
    [attr.cx]="dot.x"
    [attr.cy]="dot.y"
    z="10"
    r="3.5"
    fill="none"
    stroke="black"
    stroke-width="3"
  />
</svg>
