@if (sessionInfo) {
<div class="card bg-base-300 w-full shadow-sm">
  <div class="card-body p-1">
    <dl class="flex items-center justify-between gap-2">
      <div class="flex items-center gap-4">
        <!-- Session name -->
        <div class="flex items-baseline gap-2">
          <dt class="text-xl sm:text-lg font-semibold">
            {{ sessionInfo.Meeting.OfficialName }}
          </dt>

          <dd
            class="flex sm:hidden truncate text-sm font-medium text-base-content/60"
          >
            {{ sessionInfo.Meeting.Circuit.ShortName }},{{ " " }}
            {{ sessionInfo.Meeting.Country.Name }}
          </dd>
        </div>

        <!-- Session type -->
        <div class="flex items-baseline gap-2">
          <dt class="truncate text-sm font-medium text-base-content/60">
            Session:
          </dt>
          <dd class="text-xl font-semibold">
            {{ sessionInfo.Name }}
          </dd>
        </div>

        @if (trackStatus) {
        <!-- Track status -->
        <div class="flex items-baseline gap-2">
          <dt class="truncate text-sm font-medium text-base-content/60">
            Track Status:
          </dt>
          <dd class="text-xl font-semibold">
            {{ trackStatus.Message }}
          </dd>
        </div>
        } @if (lapsCount) {
        <!-- Laps -->
        <div class="flex items-baseline gap-2">
          <dt class="truncate text-sm font-medium text-base-content/60">
            Laps:
          </dt>
          <dd class="text-xl font-semibold">
            {{ lapsCount.CurrentLap }}/{{ lapsCount.TotalLaps }}
          </dd>
        </div>
        }

        <!-- Time remainning -->
        <div class="flex items-baseline gap-2">
          <dt class="truncate text-sm font-medium text-base-content/60">
            Remaining:
          </dt>
          <dd class="text-xl font-semibold">
            {{ extrapolatedTimeRemaining }}
          </dd>
        </div>
      </div>

      <!-- Connection data -->
      <div class="flex sm:hidden items-center gap-3">
        <p>Data updated: {{ updatedDate }} UTC</p>
        <p class="text-success">CONNECTED</p>

        <!-- onSubmit={(e) => {
            e.preventDefault();
            const form = new FormData(e.target);
            const delayMsValue = Number(form.get("delayMs"));
            setBlocking(true);
            setDelayMs(delayMsValue);
            setDelayTarget(Date.now() + delayMsValue);
          }} -->
        <form class="flex items-center gap-2">
          <p>Delay (ms):</p>
          <input
            type="number"
            name="delayMs"
            defaultValue="{delayMs}"
            class="input input-sm"
          />
        </form>
      </div>
    </dl>
  </div>
</div>
}
